@import "tailwindcss";

@theme {
  --color-dark-900: #121212;
  --color-dark-800: #1e1e1e;
  --color-dark-700: #2d2d2d;
  --color-primary: #f97316;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('./bg-pattern-2.png');
  background-repeat: repeat;
  background-size: 350px;
  mix-blend-mode: screen;
  opacity: 0.12; /* This will make the white lines look faint and transparent against the dark body color */
  pointer-events: none;
  z-index: 0;
}

#root {
  position: relative;
  z-index: 1;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: 10;
}
